/*.listviewBackground {*/
/*    background-color: #FFF;*/
/*}*/
.contDate {
    -fx-font-weight: bold;
    -fx-font-size: 19px;
}

.contshift {
    -fx-text-alignment: center;
    -fx-padding: 0px 0px 50% 0px;
}

.suivant {
    -fx-font-weight: 700;
}

.borderTable {
    -fx-border-color: #000;
    -fx-border-width: 2px;
    fx-font-size: 15px;
}

.fontSize {
    /*-fx-font-size: 4px;*/
}

.paddingText {
    -fx-padding: 0 5px 5px;
    text-align: center;
}

.listviewBackground {
    -fx-background-color: #000;
}

.labelFix {
    -fx-border-color: #000;
    -fx-border-width: 2;
    -fx-padding: 4px;
    /*-fx-border-color: ;*/
}

.imgSize {
    -fx-max-width: 331px;
}

.backgroundTitle {
    -fx-background-color: #7d9ec4;
    /*-fx-border-radius: 10px;*/
    -fx-border-color: #2f5863;
    -fx-font-weight: 700;
    -fx-font-family: initial;
}

#compEnr {
    -fx-background-color: #80c5e0;
    -fx-font-weight: 700;
    -fx-text-fill: #2f2626
}

#compValEnr {
    -fx-background-color: #90c79d;
    -fx-font-weight: 700;
    -fx-text-fill: #2f2626
}

.compoValue {
    -fx-font-size: 16;
    -fx-font-weight: 700;
    /*-fx-text-alignment: right;*/
}

.combControleur {
    -fx-font-size: 17;
    -fx-font-weight: 700;
}

/*.combo-box .cell:selected{*/
/*    -fx-text-fill: red;*/
/*    -fx-background-color: #394889;*/
/*}*/